@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========================GRADIENT=============================== */
.gradient-border {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #f64d4d, #4d5ef6);
}